<div class="col-2">
  <h5 class="link-container">
    <%= link_to "Home", root_path, class: "link #{@page == 'home' ? 'active' : ''}"  %>
  </h5>
  <h5 class="link-container">
    <%= link_to "La Boutique", shop_path, class: "link #{@page == 'shop' ? 'active' : ''}"  %>
  </h5>
  <h5 class="link-container">
    <%= link_to "A propos", about_path, class: "link #{@page == 'about' ? 'active' : ''}"  %>
  </h5>
</div>
